.App {
  text-align: center;
}

.Box {
  background-color: white;
  border-radius: 3px;
  width: 400px;
}

.Box2 {
  background-color: white;
  border-radius: 3px;
  width: 400px;
  height: 65px;
}

.Container {
  height: 380px;
  overflow-y: scroll;
}

.Card {
  padding: 20px;
  text-align: left;
  background-color: #E7F6FC;
  border-radius: 11px;
  box-shadow: 2px 2px #888888;
  max-width: 500px;
  min-width: 500px;
}

.Center {
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
